/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.entry {

	.entry-content {

		.wp-block-eig-cnb-call-now-button {

		  	color: $white;
		  	margin: 20px auto;
		  	max-width: 740px;

			&.aligncenter {
			
			    text-align: center;
			
			}

			&.alignright {

			    text-align: right;
			
			}

			a.eig_call_button {

				text-decoration: none;

			}

		}
	}
}